<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tequila Grill</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Dosis" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>


<body>

    <header class="nav-down">
        <h2 class="nav-brand"><a href="/"> Tequila Grill</a></h2>
        <div class="nav-btn">
            <button class="toggle-btn">Menu</button>
        </div>
        <ul class="nav-toggle">
            <li><a class="nav-items" href="/">Home</a></li>
            <li><a class="nav-items" href="/menu">Menu</a></li>
            <li><a class="nav-items" href="/hours">Hours</a></li>
            <li><a class="nav-items" href="/location">Location</a></li>
            <li><a class="nav-items" href="/catering">Catering</a></li>
        </ul>
    </header>

    
    