<%- include ./partials/header.ejs %>



<div class="catering">
        <img src="./img/catering.jpg">
        <div class="catering-detail">
            <h3>We cater tacos for any special occasion!</h3>
            <p>Taco meat options : Asada, Pastor, Carnitas, Chicken</p>
            <p>* Party reservations available *</p>
            <p> (capacity of 50-200 people)  </p>
        </div>
</div>







<%- include ./partials/footer.ejs %>