<%- include ./partials/header.ejs %>



<div class="hours">
        <h1>Hours</h1>
        <p>Mon : 10AM - 3PM</p>
        <p>Tue : 10AM - 3PM</p>
        <p>Wed : 10AM - 3PM</p>
        <p>Thu : 10AM - 3PM</p>
        <p>Fri : 10AM - 3PM</p>
        <p>Sat : 10AM - 3PM</p>
        <p>Son : 10AM - 3PM</p>
</div>




<%- include ./partials/footer.ejs %>