<%- include ./partials/header.ejs %>
    	
	<div class="main-content" style="background-image: url(./img/main-image.jpg)">
		<div class="welcome">
	       <h3>Welcome to</h3> 
	       <h1>Tequila Grill</h1>
	       <h3>Mexican restaurant</h3>
	       <hr>
	       <p>The best authentic mexican food serving  
	       <br>Yamhil county since 2000</p>
       </div>
    </div>
        
            
    <div class="about">
        <div class="about-content">
	        <h2 class="about-title">Since 1978</h2>
	   	    <p class="about-description">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
            
    <div class="box-links">
       <div class="box">
    		<a href="/menu"><img src="./img/tacos.jpg"></a>
    		<a class="box-link" href="/menu">Our Menu</a>
       </div>
       <div class="box">
	       <a href="/hours"><img src="./img/hours.jpg"></a>
	       <a class="box-link" href="/hours">Hours</a>
        </div>
        <div class="box">
        	<a href="/catering"><img src="./img/catering.jpg"></a>
        	<a class="box-link" href="/catering">Catering</a>
        </div>
	</div>
            
            
    <div id="map"></div>

        
     
    
    
<%- include ./partials/footer.ejs %>